@import './base.css';

#app {
  width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #333;
  transition: 0.4s;
}
